header {
	background-color: rgb(207, 31, 31);
	height: 10vh;
	margin: 0;
	padding: 1px;
	text-align: center;
	color: rgb(255, 255, 255);
	height: fit-content;
	text-decoration: none;
}

.list-container a {
	text-decoration: none;
	color: rgb(0, 0, 0);
}
.list-container {
	margin: 0;
}
.info {
	text-align: justify;
	padding-left: 10vw;
	padding-right: 10vw;
	align-items: center;
}
nav a {
	color: white;
	text-decoration: none;
	padding: 4px;
}
nav img {
	height: 40px;
}

nav {
	margin: 0;
}
.info p {
	font-weight: 700;
}
.home {
	text-align: center;
	margin: 5px;
}
.list-container form {
	color: white;
	text-align: center;
}
input {
	width: 40vw;
	height: 40px;
	margin-left: 5px;
	font-size: large;
}
.item {
	margin-left: 5px;
}
li {
	list-style: none;
	padding-bottom: 5px;
}
ul {
	padding: 0;
}
.home img {
	width: 80vw;
}
