header {
	background-color: rgb(207, 31, 31);
	height: 10vh;
	margin: 0;
	padding: 1px;
	text-align: center;
	color: white;
	height: fit-content;
	text-decoration: none;
}

.list-container a {
	text-decoration: none;
	color: rgb(0, 0, 0);
}
.list-container {
	margin: 0;
}
.info {
	text-align: center;
	padding-left: 10vw;
	padding-right: 10vw;
}
nav a {
	color: white;
	text-decoration: none;
	padding: 10px;
}
nav {
	display: flex;
}
.info p {
	font-weight: bold;
}
.home {
	text-align: center;
}
.list-container form {
	color: white;
	background-color: rgb(207, 31, 31);
	text-align: center;
	
}
input {
	width: 200px;
	height: 40px;
	margin-left: 5px;
	font-size: large;
}
.item {
	margin-left: 5px;
}
li{
	list-style: none;
	padding-bottom: 5px;
}
ul {
	padding: 0;
}
